.rsvpTable {
  width: 100%;
}

.rsvpTable th {
  background-color: #f2f2f2;
  text-align: left;
}

.rsvpTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.rsvpTable tr:nth-child(even) {
  background-color: #f9f9f9;
}
