:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */ /* Removed */
  /* place-items: center; */ /* Removed */
  min-width: 320px;
  min-height: 100vh;
  /* Ensure body allows content to flow naturally */
}

.rsvp-page-container {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.available-rooms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.room-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.room-card:hover {
  transform: translateY(-5px);
}

.room-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.room-details {
  padding: 15px;
}

.room-title {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.room-capacity,
.room-price {
  font-size: 1rem;
  margin-bottom: 8px;
}

.room-description {
  font-size: 0.875rem;
  color: #555;
}

#intro {
  text-align: center;
  padding: 100px 0;
  background-color: #242424;
  border-radius: 10px;
}

#intro h2 {
  font-size: 3em;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.87);
}

#intro p {
  font-size: 1.2em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
}

.intro-names {
  font-size: 2em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.87);
}

.intro-date {
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

.rsvp-page-container.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
